/buisness.png
/charts-6246450_640.png
/demo_interface2.py
/demo_interface3.py
/demo_interface4.py
/final_demo_interface.py
/india_census.csv
/NFHS_5_Factsheets_Data.xls
/player_stats.csv
/python.py
/requirements.txt
/rough_project_st.py
/snakes.py
/streamlit.cmd
/streamlit.exe
/sTreamlit.py
/streamlit_altair.py
/streamlit_viz.py
/supermarket_sales - Sheet1.csv
/supermarket_sales - Sheet1.xlsx